@import "./mixins.scss";

.card {
  width: 100%;
  max-width: 405px;
  height: 320px;
  background: linear-gradient(rgba(32, 20, 80, 1) 35%, rgba(0, 94, 236, 1));
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.card-title {
  font-size: 32px;
  margin-top: 6px;
}
.card-image {
  margin-top: 12px;
  background-color: grey;
  height: 112px;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
  img {
    display: block;
    width: 100%;
  }
}
.card-description {
  margin: 0;
  font-size: 18px;
}
.card-button,
.card-button-trash,
.card-button-heart {
  background-color: transparent;
  border: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  font-size: 18px;
  bottom: 2%;
}
.card-buttons {
  position: absolute;
  bottom: 1%;
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-button-trash {
  img {
    width: 25px;
    height: 30px;
  }
}
.card-button-heart {
  img {
    width: 25px;
    height: 25px;
  }
}
.card-padding {
  width: calc(100% - 32px);
}

@include breakpoint-down(s-small) {
  .card-description {
    font-size: 16px;
  }
}
@include breakpoint-down(small) {
  .card-title {
    font-size: 24px;
  }
  .card-description {
    font-size: 16px;
  }
  .card-button-trash {
    img {
      bottom: 8%;
    }
  }
  .card-button-heart {
    img {
      bottom: 8%;
    }
  }
}
@include breakpoint-up(extra-extra-large) {
}
